<%= render 'shared/menu' %>
<% if signed_in? %>
  <h1>Welcome to the home page man!!</h1>
  
  <p>Sign out <%= link_to "here", signout_path, method: :delete %></p>
  
  <p>Create a <%= link_to "board", new_board_path %></p>
  
  <p>List all <%= link_to 'boards', boards_path %></p>
  
<% else %>
  <%= render 'shared/not_signed_in' %>
<% end %>